<section class="about" id="about">
    <h2 class="heading">About <span>Me</span></h2>
    <div class="about-img">
    <img src="assets/images/7.png" alt="About image">
    <span class="circle-span"></span>
    </div>
    <div class="about-content">
        <h3>Frontend Developer!</h3>
        <p>My name is Mohamed Nofal, a dedicated Frontend Developer with a passion for creating seamless and responsive web applications. I have had the privilege of working as a teaching assistant at Delta Higher Institute for Computers, where I gained valuable experience in guiding students and enhancing my technical skills. Throughout my career, I have worked on over 20 projects, delivering innovative and efficient web solutions that cater to client needs and user experience</p>
        <div class="btn-box btns">
        <a href="https://www.linkedin.com/in/mohamed-nofal-22b5562a3/" target="_blank" class="btn">Read More</a>
        </div>
    </div>
   </section>