<section class="home" id="home">
    <div class="home-content">
        <h1>Hi , I'm <span>Mohamed Nofal</span> </h1>
        <div class="text-animate">
            <h3> Frontend Developer</h3>
        </div>
        <p>A Passionate Frontend Developer with a focus on creating responsive, user-friendly web applications. I strive to bring innovative solutions to life, helping businesses build their digital presence with modern and efficient web technologies</p>
            <div class="btn-box">
                <a href="mailto:mohamednofal147@gmail.com" class="btn" target="_blank">Hire Me</a>
                <a href="https://calendly.com/mohamednofal147" class="btn" target="_blank">Let's Talk</a>
            </div>
            
        </div>
    <div class="home-sci">
        <a href="https://www.facebook.com/mohamed.nofal.5458" target="_blank"><i class='bx bxl-facebook'></i></a>
        <a href="https://x.com/Nofal22N" target="_blank"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.linkedin.com/in/mohamed-nofal-22b5562a3/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
    </div>
<div class="right-content">
  <img src="assets/images/9.png" alt="Background Image">
</div>
    <div class="homeimghover"></div>
  </section>